.font-weight-bold {
    font-weight: bold;
    color:#46a795;
}

.font-weight-bold:hover {
    color: #24695d;
}

.form-label-black {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black !important;
    font-size: 14px;
}

.error {
    color: red !important;
    margin: 0px 0px 5px 0px !important;
}

.width-80 {
    width: 80% !important;
}

.width-10 {
    width: 10% !important;
}

.width-5 {
    width: 5% !important;
}

.width-6 {
    width: 6% !important;
}

.width-9 {
    width: 9% !important;
}

.text-sm-custom {
    font-size: 14px !important;
}

.text-12-custom {
    font-size: 12px !important;
}

.cursor-text {
    cursor:text;
}


.table th {
    font-size: 12px;
    vertical-align: top;
}

.card .card-header-custom {
    padding: 15px 0px 0px 25px !important;
    border-bottom: solid 2px #f5f7fb;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.font-weight-600-height-7 {
    font-weight: 500 !important;
    line-height:0.7 !important;
}

.linebreak {
    height: 15px;
}

.height-auto {
    width: auto;
}

.text-12 {
    font-size: 12px !important;
}

.text-10 {
    font-size: 10px !important;
}

.text-20 {
    font-size: 20px;
}



.centering {
    margin: auto;
}

.cursor-pointer, cursor-pointer-white {
    cursor:pointer;
}


.cursor-pointer:hover {
    color: #24695c;
}

.cursor-pointer-white:hover {
    color: white;
}

.width-50 {
    max-width: 50% !important;
}

.table-fixed {
    table-layout: fixed;
    width: 100px;
}

.min-w-30 {
    min-width: 30px !important;
    max-width: 30px !important;
}

.min-w-50 {
    min-width: 50px !important;
    max-width: 50px !important;
}

.min-w-65 {
    min-width: 65px !important;
    max-width: 65px !important;
}

.min-w-75 {
    min-width: 75px !important;
    max-width: 75px !important;
}

.min-w-80 {
    min-width: 80px !important;
    max-width: 80px !important;
}

.min-w-90 {
    min-width: 90px !important;
    max-width: 90px !important;
}

.min-w-100 {
    min-width: 100px !important;
    max-width: 100px !important;
}

.min-w-110 {
    min-width: 110px !important;
    max-width: 110px !important;
}

.min-w-120 {
    min-width: 120px !important;
    max-width: 120px !important;
}

.min-w-130 {
    min-width: 130px !important;
    max-width: 130px !important;
}

.min-w-135 {
    min-width: 135px !important;
    max-width: 135px !important;
}

.min-w-140 {
    min-width: 140px !important;
    max-width: 140px !important;
}

.min-w-150 {
    min-width: 150px !important;
    max-width: 150px !important;
}

.min-w-160 {
    min-width: 160px !important;
    max-width: 160px !important;
}

.min-w-170 {
    min-width: 160px !important;
    max-width: 160px !important;
}

.min-w-200 {
    min-width: 200px !important;
    max-width: 200px !important;
}

.min-w-250 {
    min-width: 250px !important;
    max-width: 250px !important;
}

.min-w-300 {
    min-width: 300px !important;
    max-width: 300px !important;
}

.min-w-400 {
    min-width: 400px !important;
    max-width: 400px !important;
}
.min-w-420 {
    min-width: 420px !important;
}
.min-w-450 {
    min-width: 450px !important;
    max-width: 450px !important;
}

.min-w-500 {
    min-width: 500px !important;
}

.min-w-550 {
    min-width: 550px !important;
}

.bg-brown {
    background-color: #A39B72FF !important;
}

.loader-34:after,.loader-34:before {
    background-color: #FFFFFF !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 5px 5px 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 2px !important;
}

.navbar-card-custom{
    display: inline-flex;
    position:absolute;
    right: 10px;
}

.card-body-custom {
    padding-left:0.1rem !important;
    padding-right:0.1rem !important;
    padding-top: 0.1rem; !important;
    padding-bottom: 0.1rem; !important;
}

.table-small-text tr td {
    font-size: 12.2px;
}

.checkbox label {
    margin-top: -20px !important;
}

.label-checkbox-work-item {
    max-width: 200px;
    padding-top : 20px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-t-40 {
    margin-top: 40px;
}

.height-40 {
    height: 40px;
}

.mb-1 {
    margin-bottom: 15px !important;
}

.card-header-costume {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left:10px;
    border-bottom: solid 1px black;
}

.max_width10_td {
    max-width: 10px !important;
}

.max_width40_td {
    max-width: 40px !important;
}

.max_width100_td {
    min-width: 60px !important;
    max-width: 100px !important;
}

.max_width200_td {
    min-width: 100px !important;
    max-width: 200px !important;
}

.text-center-table {
    text-align:center
}

.bg-yellow {
    background-color: #FFC000 !important;
}

.loading-spinner{
    width:30px;
    height:30px;
    border:2px solid #24685c;
    border-radius:50%;
    border-top-color:#0001;
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
}

.text-align-right {
    text-align: right !important;
}

.mr-4 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mr-6 {
    margin-right: 1.50rem;
}

.text-small {
    font-size: 11px;
}

.margin-sm {
    margin-bottom: 0.3rem;
}

.margin-05 {
    margin-bottom: 0.5rem;
}

.tooltip-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-link:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width:1199px) {
    .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav{
        top : 65px !important;
    }
}

.page-wrapper .page-main-header .main-header-right .main-header-left .toggle-sidebar {
    visibility: visible;
    color: #24695c;
}

@media screen and (max-width: 976px){
    .page-wrapper .page-main-header .main-header-right .main-header-left {
        padding : 5px 30px 5px 10px
    }

    .page-wrapper .page-main-header .main-header-right .main-header-left .toggle-sidebar {
        visibility: visible;
    }
}

@media screen and (max-width: 972px){
    .page-wrapper.compact-wrapper .page-main-header.close_icon {
        height:80px;
    }

    .page-wrapper .page-main-header .main-header-right .main-header-left {
        height : 80px;
    }

    .page-wrapper .page-main-header .main-header-right .main-header-left {

    }
    .page-wrapper .page-main-header .main-header-right .main-header-left .img-fluid {
        max-width: 80px !important;
    }
}

.custom-checkbox {
    width: 17px;
    height: 17px;
}

/* Optional: Customize appearance */
custom-checkbox:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

custom-checkbox:checked:before {
    background-color: #007bff;
}

.dd-handle[contenteditable="true"] {
    background-color: #f9f9f9;
    cursor: text;
}

.dd-handle {
    cursor: pointer;
}

.edit-input {
    width: 100%;
}

@keyframes loadingspinner{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}

.table-custom th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-overflow {
    overflow: auto;
    height: 60vh;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
}

.table-custom th, .table-custom td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.select2-container.select2-repositioned {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
}

.notification {
    position: fixed; /* or absolute, depending on your layout needs */
    top: 50%; /* adjust the position as needed */
    left: 50%; /* adjust the position as needed */
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 9999;
}

.moveall,
.removeall {
    border: 1px solid #ccc !important;

    &:hover {
         background: #efefef;
     }
}

.moveall::after {
    content: attr(title);

}

.removeall::after {
    content: attr(title);
}

.form-control option {
   padding: 5px;
   border-bottom: 1px solid #efefef;
}

.radio .label-radio {
    font-size: 13px !important;
    font-weight: 400 !important;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.6;
}

.loader-box .loader-3 {
    display: inline-block;
    width: 12px !important;
    height: 12px !important;
    color: inherit;
    vertical-align: middle;
}


.notification-ring {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    /*margin-left: 1px; !* Add some margin for spacing *!*/
    animation: pulse 1s infinite;
}

.notification-content {
    /*padding: 10px;*/
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
