.font-weight-bold {
    font-weight: bold;
    color:#46a795;
}

.font-weight-bold:hover {
    color: #24695d;
}

.form-label-black {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black !important;
    font-size: 14px;
}

.error {
    color: red !important;
    margin: 0px 0px 5px 0px !important;
}

.width-80 {
    width: 80% !important;
}

.width-10 {
    width: 10% !important;
}

.width-5 {
    width: 5% !important;
}

.width-6 {
    width: 6% !important;
}

.width-9 {
    width: 9% !important;
}

.text-sm-custom {
    font-size: 14px !important;
}

.table th {
    font-size: 12px;
    vertical-align: top;
}

.card .card-header-custom {
    padding: 15px 0px 0px 25px !important;
    border-bottom: solid 2px #f5f7fb;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.font-weight-600-height-7 {
    font-weight: 500 !important;
    line-height:0.7 !important;
}

.linebreak {
    height: 15px;
}

.height-auto {
    width: auto;
}

.text-12 {
    font-size: 12px;
}

.text-10 {
    font-size: 10px;
}

.text-20 {
    font-size: 20px;
}

.centering {
    margin: auto;
}

.cursor-pointer, cursor-pointer-white {
    cursor:pointer;
}


.cursor-pointer:hover {
    color: #24695c;
}

.cursor-pointer-white:hover {
    color: white;
}

.width-50 {
    max-width: 50% !important;
}

.table-fixed {
    table-layout: fixed;
    width: 100px;
}

.min-w-30 {
    min-width: 30px !important;
    max-width: 30px !important;
}

.min-w-50 {
    min-width: 50px !important;
    max-width: 50px !important;
}

.min-w-65 {
    min-width: 65px !important;
    max-width: 65px !important;
}

.min-w-75 {
    min-width: 75px !important;
    max-width: 75px !important;
}

.min-w-80 {
    min-width: 80px !important;
    max-width: 80px !important;
}

.min-w-100 {
    min-width: 100px !important;
    max-width: 100px !important;
}

.min-w-110 {
    min-width: 110px !important;
    max-width: 110px !important;
}

.min-w-120 {
    min-width: 120px !important;
    max-width: 120px !important;
}

.min-w-130 {
    min-width: 130px !important;
    max-width: 130px !important;
}

.min-w-135 {
    min-width: 135px !important;
    max-width: 135px !important;
}

.min-w-140 {
    min-width: 140px !important;
    max-width: 140px !important;
}

.min-w-150 {
    min-width: 150px !important;
    max-width: 150px !important;
}

.min-w-160 {
    min-width: 160px !important;
    max-width: 160px !important;
}

.min-w-170 {
    min-width: 160px !important;
    max-width: 160px !important;
}

.min-w-200 {
    min-width: 200px !important;
    max-width: 200px !important;
}

.min-w-250 {
    min-width: 250px !important;
    max-width: 250px !important;
}

.min-w-300 {
    min-width: 300px !important;
    max-width: 300px !important;
}

.min-w-400 {
    min-width: 400px !important;
    max-width: 400px !important;
}
.min-w-420 {
    min-width: 420px !important;
}
.min-w-450 {
    min-width: 450px !important;
    max-width: 450px !important;
}

.min-w-500 {
    min-width: 500px !important;
}

.min-w-550 {
    min-width: 550px !important;
}

.bg-brown {
    background-color: #A39B72FF !important;
}

.loader-34:after,.loader-34:before {
    background-color: #FFFFFF !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 5px 5px 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 2px !important;
}

.navbar-card-custom{
    display: inline-flex;
    position:absolute;
    right: 10px;
}

.checkbox label {
    margin-top: -20px !important;
}

.label-checkbox-work-item {
    max-width: 200px;
    padding-top : 20px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-t-40 {
    margin-top: 40px;
}

.height-40 {
    height: 40px;
}

.mb-1 {
    margin-bottom: 15px !important;
}

.card-header-costume {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left:10px;
    border-bottom: solid 1px black;
}

.max_width10_td {
    max-width: 10px !important;
}

.max_width40_td {
    max-width: 40px !important;
}

.max_width100_td {
    min-width: 60px !important;
    max-width: 100px !important;
}

.max_width200_td {
    min-width: 100px !important;
    max-width: 200px !important;
}

.text-center-table {
    text-align:center
}

.bg-yellow {
    background-color: #FFC000 !important;
}

.loading-spinner{
    width:30px;
    height:30px;
    border:2px solid #24685c;
    border-radius:50%;
    border-top-color:#0001;
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
}
@keyframes loadingspinner{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}
